{#
/**
 * @file
 * Default theme implementation to display a slide within colorbox.
 *
 * Available variables:
 * - slide_item: A collection of image data.
 * - url: An URL the image can be linked to.
 * - attributes: Link attributes.
 *
 * @see template_preprocess_bxslider_colorbox()
 */
#}
<a href="{{ url }}" {{ attributes }}>{{ slide_item }}</a>